body{
	font-family: Arial, sans-serif;
}
h1{
	text-align: center;
}
main{
	width: 80%;
	margin: 0 auto;
}
form{
	width: 100%;
}
input[type="text"], 
input[type="email"], 
textarea{
	width: 96%;
	padding: 8px;
	border: 1px solid #CCC;
	border-radius: 4px;
	display: block;
}
input[type="number"]{
	width: 50px;
	padding: 8px;
	border: 1px solid #CCC;
	border-radius: 4px;
	display: block;
}
textarea{
	resize: none;
}
.error{
	color: #F00;
	position: relative;
}